@import "./mixins.scss";
@use "./mixins.scss";

:root {
  --beige: #fbf8f3;
  --purple: #4d13d1;
  --black: #000000;
  --darkgrey: #4f4f4f;
  --yellow: #ff962a;
  --lightgrey: #dadada;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: none;
  box-shadow: none;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}

html{
  font-size: 62.5%;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.375;
}

// element classes
.btn {
  display:block;
  padding: 2rem 2.5rem;
  background: var(--purple);
  font-size: 1.8rem;
  color: white;
  border-radius: .4rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: none;
  transform: translateY(0);
  transition: all 0.3s ease-out;

  &--white {
    background-color: white;
    color: var(--purple);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    display:block;
    padding: 2rem 2.5rem;
    border-radius: .4rem;
    font-weight: 600;
    text-transform: capitalize;

    &:hover, &:focus {
      color: white;
      background-color: var(--purple);
      box-shadow: 0 1px 1px rgba(0,0,0,0.15),
                  0 2px 2px rgba(0,0,0,0.15),
                  0 4px 4px rgba(0,0,0,0.15);
    }
  }
  &:hover, &:focus {
  transform: translateY(-5px);
      box-shadow: 0 1px 1px rgba(0,0,0,0.15),
                  0 2px 2px rgba(0,0,0,0.15),
                  0 4px 4px rgba(0,0,0,0.15);
  }
}
.section { }

/***** LANDING PAGE  ******/
.header {
  background: var(--beige);
}
// nav
.nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 0;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;

  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}
.nav__logo { }
.nav__logo__link {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.nav__listwrapper {
  width: 100%;
  position:absolute;
  z-index: 1;
  top: 0;
  display:block;
  right: 0;
  background: white;
  max-width: 50rem;
  height: 100vh;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);

  &.closed {
  }

  &.active {
    transform: translateX(0) !important;
  }

  @include respond(tablet){
    position:relative;
    background: none;
    max-width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    transform: none;
  }
}

.nav-mob-btn {
  display: block;
  @include respond(tablet){
    display: none;
  }
}
.nav__list {
  list-style: none;
  display:flex;
  flex-direction: column;

  font-size: 1.8rem;
  font-weight: 300;

  @include respond(tablet){
  flex-direction: row;
  justify-content: space-around;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  }
}
.nav-mob-trigger {
  display:flex;
  padding: 2rem 4rem;
  width: 100%;
  background: var(--purple);
  justify-content: flex-end;
  @include respond(tablet) {
    display: none;
  }
}
.nav__list__item {
  padding: 3rem 4rem;
  border-bottom: 1px solid var(--lightgrey);

  @include respond(tablet) {
    margin: 0 1.5rem;
    border: none;
  }
  a {
    color: black;
    transition: color 0.3s ease-out;
  }
  a:hover,
  a:focus {
    color: var(--purple)
  }
}

.nav__user {
  display:flex;
  flex-direction: column;
  @include respond(tablet){
    flex-direction: row;
    align-items: center;
    margin-left: 20rem;
  }

  & > a {

    border-radius: 0;
  }
}

.nav__user__link {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-right: 5rem;
    padding: 2rem 4rem;

  @include respond(tablet) {
  padding: 0;
  }
}
.nav__user__btn {

  padding: 2rem 4rem;
  border-radius: 0;

  @include respond(tablet) {
    border-radius: .4rem !important;
  }
}

// header
.header__contentwrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;

  display:flex;
  flex-direction: column-reverse;
  @include respond(mobile) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include respond(desktop) {
    max-width: 128rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.header__content {
  width: 100%;

  @include respond(mobile) {
    flex: 1 1 50%;
    flex-basis: 50%;
    max-width: 50%;
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.header__content__inner {
  margin-top: 3rem;
  @include respond(tablet) {
    margin-top: 0rem;
  }
 }
.header__content__inner__review {
  display:flex;
  align-items: center;
}
.header__content__inner__title {
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.header__content__inner__blurb {
  font-size: 1.9rem;
  line-height: 1.5;
  color: var(--darkgrey);
  margin-top: 1.5rem
}
.header__content__inner__review__rating {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
    font-size: 1.6rem;
    color: var(--darkgrey);

  span{
    font-size: 1.6rem;
    color: var(--darkgrey);
  }
 }
.header__content__inner__review__star { }
.header__content__inner__links {
  text-align: center;
    margin-top: 2rem;

  @include respond(tablet){
  display:flex;
  text-align: left;
    flex-direction: row;
  align-items: center;

  }
}
.header__content__inner__button {
  margin-bottom: 2rem;
  margin-right: 0;
  @include respond(tablet) {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}
.header__content__inner__link {

  color: var(--purple);
  border-bottom: 2px solid var(--purple);
  font-size: 1.8rem;
  font-weight: 600;
 }
.header__content__inner__list {
  display:flex;
  flex-direction: column;
  color: var(--darkgrey);
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3;
  list-style: none;
  margin-top: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;

  @include respond(tablet){
    flex-direction: row;
  align-items: center;

  }
 }

 .header__content__inner__list__icon {
  margin-right: 1rem;
 }
.header__content__inner__list__item {
  display:flex;
  align-items: center;
  padding: 0 1rem;

  & + & {
    margin-top: 2rem;
    @include respond(tablet){
      margin-top: 0;
    }

  }
 }
.header__visual {

  width: 100%;

  @include respond(mobile){
    flex: 1 1 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.header__visual__image {
  max-width: 550rem;
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// why
.why {
  max-width: 128rem;
  margin: 0 auto;
  padding: 5rem 0;
}
.why__content {

  padding-left: 4rem;
  padding-right: 4rem;
  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  h3 {
    color: var(--purple);
    font-size: 1.7rem;
    line-height: 1;
  }
  h4 {
    font-size: 4rem;
    max-width: 50%;
    line-height: 1.2;
    margin-top: 2rem;
  }
 }
.why__content__tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 3rem;
  @include respond(tablet) {
    flex-direction: row;
  justify-content: space-between;

  }
}
.why__content__tab {
  width: 100%;

  @include respond(tablet){
  flex: 1 1 30%;
  flex-basis: 30%;
  max-width: 30%;

  }

  h5 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  p {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 2rem;
    color: var(--darkgrey);
  }
}
.why__content__tab__icon { }

// diversify

.diverse {
    padding: 5rem 4rem;

  max-width: 128rem;
  width: 100%;
  margin: 0 auto;

  @include respond(desktop){
    padding: 5rem 0;
  }
}
.diverse__contentwrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  background: var(--purple);
  border-radius: .5rem;

  @include respond(tablet){
  justify-content: space-between;
  flex-direction: row;
  }

}
.diverse__content {
  color: white;
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 6rem;

  @include respond(tablet) {
  padding: 3rem 0 3rem 6rem;
  flex: 1 1 40%;
  flex-basis: 40%;
  max-width: 40%;

  }
 }
.diverse__content__title {
  font-size: 3.5rem;
 }
.diverse__content__blurb {
  font-weight: 100;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 1rem;
 }

 .diverse__content__linkwrapper {
   display:flex;
   margin-top: 2rem;
 }

.diverse__content__blurb__link {
  font-size: 1.8rem;
}

.diverse__content__carouselwrap {
  width: 100%;
  padding: 0rem 6rem;
  @include respond(tablet) {
  flex: 1 1 60%;
  flex-basis: 60%;
  max-width: 60%;
  padding: 6rem 6rem 0 6rem;

  }
}

.diverse__content__carousel__image{
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}


// testimonial
.testimonials {
  position:relatives;
  padding: 6rem 0;
}

.testimonials__inner {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding-left: 4rem;
  padding-right: 4rem;

  @include respond(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

 .testimonials__list {
  display:flex;
  flex-direction: column;
  list-style: none;

  @include respond(tablet) {
  align-items: stretch;
    flex-direction: row;
  margin-left: -2rem;
  margin-right: -2rem;
  }
}

.testimonials__list__item {
  border-radius: .4rem;
  width: 100%;
  border: 1px solid var(--lightgrey);
  padding: 3rem;

  @include respond(tablet) {
    flex: 1 1 50rem;
    flex-basis: 50rem;
    max-width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  & + & {
    margin-top: 4rem;
    @include respond(tablet) {
      margin-top: 0;
    }
  }
 }
.testimonials__list__item__header {
  display:flex;
  align-items: center;
}
.testimonials__list__item__header__title {
  margin-left: 1rem;
}
.testimonials__list__item__header__name {
    color: var(--purple);
  font-weight: 700;
 }
.testimonials__list__item__header__rev {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 100;
}
.testimonials__list__item__summary {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 100;
 }
.testimonials__list__item__link {
  width: 100%;
  display:block;
  border-radius: .5rem;
  padding: 2rem 1rem;
  margin-top: 2rem;
  border: 1px solid var(--lightgrey);
  text-align: center;
  font-weight: 800;
  color: var(--purple);
 }

// footer

.footer {
  background: var(--beige);
  padding: 7rem 0;
 }

 .footer__inner {

    display: flex;
   padding-left: 4rem;
   padding-right: 4rem;
   margin: 0 auto;
   width: 100%;

   flex-direction: column;

   @include respond(mobile){
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-width: 128rem;
   }

   @include respond(desktop) {
     padding-left: 0;
     padding-right: 0;
   }
 }
.footer__blurb {
  width: 100%;

  @include respond(mobile) {
    flex: 1 1 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
 }
.footer__blurb__title { }
.footer__blurb__summary {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.9;
  font-weight: 100;
  color: var(--darkgrey);
 }
.footer__blurb__end {
  font-size: 1.5rem;
  color: var(--darkgrey);
  margin-top: 1rem;
}
.footer__nav {

  display:flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;

  @include respond(mobile) {
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1 70%;
    flex-basis: 70%;
    max-width: 70%;
    margin-top: 0;
  }
}

.footer__nav__col {

}
.footer__nav__col__heading {
  color: black;
  font-size: 1.8rem;
 }
.footer__nav__col__list {
    list-style: none;
    margin-top: 1rem;
}

.footer__nav__col__list__item { }
.footer__nav__col__list__link {
  color: var(--darkgrey);
  transition: color 0.3s ease-out;
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 100;
  &:hover, &:focus {
    color: var(--purple);
  }
}


/**** SIGN UP PAGE *****/

.signup {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}
.signup__formwrapper {
  flex: 1 1 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;

  display:flex;
  justify-content: center;
  align-items: center;
}
.signup__form__header {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 4rem;
  }
}
.signup__form { }
.signup__form__row {
  display:flex;
  flex-direction: column;
}
.signup__form__label {
  font-size: 2rem;
  font-weight: 500;
}
.signup__form__input { }
.signup__form__row--checkbox { }
.signup__form__checkbox { }
.signup__form__checkbox_label { }
.signup__form__btn { }
.signup__visual {
    flex: 1 1 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  background: var(--purple);

 }