@use "./mixins.scss";
:root {
  --beige: #fbf8f3;
  --purple: #4d13d1;
  --black: #000000;
  --darkgrey: #4f4f4f;
  --yellow: #ff962a;
  --lightgrey: #dadada;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.375;
}

.btn {
  display: block;
  padding: 2rem 2.5rem;
  background: var(--purple);
  font-size: 1.8rem;
  color: white;
  border-radius: .4rem;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn--white {
  background-color: white;
  color: var(--purple);
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  display: block;
  padding: 2rem 2.5rem;
  border-radius: .4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.btn--white:hover, .btn--white:focus {
  color: white;
  background-color: var(--purple);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15);
}

/***** LANDING PAGE  ******/
.header {
  background: var(--beige);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 0;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}

@media (min-width: 1280px) {
  .nav {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__logo__link {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.nav__listwrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  right: 0;
  background: white;
  max-width: 50rem;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav__listwrapper.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@media (min-width: 960px) {
  .nav__listwrapper {
    position: relative;
    background: none;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    -webkit-transform: none;
            transform: none;
  }
}

.nav-mob-btn {
  display: block;
}

@media (min-width: 960px) {
  .nav-mob-btn {
    display: none;
  }
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.8rem;
  font-weight: 300;
}

@media (min-width: 960px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.nav-mob-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 4rem;
  width: 100%;
  background: var(--purple);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 960px) {
  .nav-mob-trigger {
    display: none;
  }
}

.nav__list__item {
  padding: 3rem 4rem;
  border-bottom: 1px solid var(--lightgrey);
}

@media (min-width: 960px) {
  .nav__list__item {
    margin: 0 1.5rem;
    border: none;
  }
}

.nav__list__item a {
  color: black;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.nav__list__item a:hover,
.nav__list__item a:focus {
  color: var(--purple);
}

.nav__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  .nav__user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20rem;
  }
}

.nav__user > a {
  border-radius: 0;
}

.nav__user__link {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-right: 5rem;
  padding: 2rem 4rem;
}

@media (min-width: 960px) {
  .nav__user__link {
    padding: 0;
  }
}

.nav__user__btn {
  padding: 2rem 4rem;
  border-radius: 0;
}

@media (min-width: 960px) {
  .nav__user__btn {
    border-radius: .4rem !important;
  }
}

.header__contentwrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .header__contentwrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1280px) {
  .header__contentwrapper {
    max-width: 128rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.header__content {
  width: 100%;
}

@media (min-width: 768px) {
  .header__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__content__inner {
  margin-top: 3rem;
}

@media (min-width: 960px) {
  .header__content__inner {
    margin-top: 0rem;
  }
}

.header__content__inner__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__inner__title {
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.header__content__inner__blurb {
  font-size: 1.9rem;
  line-height: 1.5;
  color: var(--darkgrey);
  margin-top: 1.5rem;
}

.header__content__inner__review__rating {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 1.6rem;
  color: var(--darkgrey);
}

.header__content__inner__review__rating span {
  font-size: 1.6rem;
  color: var(--darkgrey);
}

.header__content__inner__links {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 960px) {
  .header__content__inner__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__content__inner__button {
  margin-bottom: 2rem;
  margin-right: 0;
}

@media (min-width: 960px) {
  .header__content__inner__button {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.header__content__inner__link {
  color: var(--purple);
  border-bottom: 2px solid var(--purple);
  font-size: 1.8rem;
  font-weight: 600;
}

.header__content__inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--darkgrey);
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3;
  list-style: none;
  margin-top: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (min-width: 960px) {
  .header__content__inner__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__content__inner__list__icon {
  margin-right: 1rem;
}

.header__content__inner__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.header__content__inner__list__item + .header__content__inner__list__item {
  margin-top: 2rem;
}

@media (min-width: 960px) {
  .header__content__inner__list__item + .header__content__inner__list__item {
    margin-top: 0;
  }
}

.header__visual {
  width: 100%;
}

@media (min-width: 768px) {
  .header__visual {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

.header__visual__image {
  max-width: 550rem;
  width: 100%;
}

.header__visual__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.why {
  max-width: 128rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.why__content {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (min-width: 1280px) {
  .why__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.why__content h3 {
  color: var(--purple);
  font-size: 1.7rem;
  line-height: 1;
}

.why__content h4 {
  font-size: 4rem;
  max-width: 50%;
  line-height: 1.2;
  margin-top: 2rem;
}

.why__content__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-top: 3rem;
}

@media (min-width: 960px) {
  .why__content__tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.why__content__tab {
  width: 100%;
}

@media (min-width: 960px) {
  .why__content__tab {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-width: 30%;
  }
}

.why__content__tab h5 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.why__content__tab p {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 2rem;
  color: var(--darkgrey);
}

.diverse {
  padding: 5rem 4rem;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .diverse {
    padding: 5rem 0;
  }
}

.diverse__contentwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--purple);
  border-radius: .5rem;
}

@media (min-width: 960px) {
  .diverse__contentwrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.diverse__content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 6rem;
}

@media (min-width: 960px) {
  .diverse__content {
    padding: 3rem 0 3rem 6rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    max-width: 40%;
  }
}

.diverse__content__title {
  font-size: 3.5rem;
}

.diverse__content__blurb {
  font-weight: 100;
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.diverse__content__linkwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.diverse__content__blurb__link {
  font-size: 1.8rem;
}

.diverse__content__carouselwrap {
  width: 100%;
  padding: 0rem 6rem;
}

@media (min-width: 960px) {
  .diverse__content__carouselwrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    max-width: 60%;
    padding: 6rem 6rem 0 6rem;
  }
}

.diverse__content__carousel__image {
  width: 100%;
}

.diverse__content__carousel__image img {
  width: 100%;
  height: 100%;
  display: block;
}

.testimonials {
  position: relatives;
  padding: 6rem 0;
}

.testimonials__inner {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (min-width: 1280px) {
  .testimonials__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media (min-width: 960px) {
  .testimonials__list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.testimonials__list__item {
  border-radius: .4rem;
  width: 100%;
  border: 1px solid var(--lightgrey);
  padding: 3rem;
}

@media (min-width: 960px) {
  .testimonials__list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
    -ms-flex-preferred-size: 50rem;
        flex-basis: 50rem;
    max-width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.testimonials__list__item + .testimonials__list__item {
  margin-top: 4rem;
}

@media (min-width: 960px) {
  .testimonials__list__item + .testimonials__list__item {
    margin-top: 0;
  }
}

.testimonials__list__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__list__item__header__title {
  margin-left: 1rem;
}

.testimonials__list__item__header__name {
  color: var(--purple);
  font-weight: 700;
}

.testimonials__list__item__header__rev {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 100;
}

.testimonials__list__item__summary {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 100;
}

.testimonials__list__item__link {
  width: 100%;
  display: block;
  border-radius: .5rem;
  padding: 2rem 1rem;
  margin-top: 2rem;
  border: 1px solid var(--lightgrey);
  text-align: center;
  font-weight: 800;
  color: var(--purple);
}

.footer {
  background: var(--beige);
  padding: 7rem 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 128rem;
  }
}

@media (min-width: 1280px) {
  .footer__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__blurb {
  width: 100%;
}

@media (min-width: 768px) {
  .footer__blurb {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-width: 30%;
  }
}

.footer__blurb__summary {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.9;
  font-weight: 100;
  color: var(--darkgrey);
}

.footer__blurb__end {
  font-size: 1.5rem;
  color: var(--darkgrey);
  margin-top: 1rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    max-width: 70%;
    margin-top: 0;
  }
}

.footer__nav__col__heading {
  color: black;
  font-size: 1.8rem;
}

.footer__nav__col__list {
  list-style: none;
  margin-top: 1rem;
}

.footer__nav__col__list__link {
  color: var(--darkgrey);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 100;
}

.footer__nav__col__list__link:hover, .footer__nav__col__list__link:focus {
  color: var(--purple);
}

/**** SIGN UP PAGE *****/
.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.signup__formwrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__form__header h1 {
  font-size: 1.8rem;
}

.signup__form__header h2 {
  font-size: 4rem;
}

.signup__form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form__label {
  font-size: 2rem;
  font-weight: 500;
}

.signup__visual {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  background: var(--purple);
}
/*# sourceMappingURL=style.css.map */