*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
  vertical-align: baseline;
  color: inherit;
}

html{
  font-size:  62.5%;
}

:root {
  --beige: #fbf8f3;
  --gold: #e7a336;
  --cyan: #d7f5f5;
  --blue: #1da1f2;
  --dark-blue: #1f7898;
  --grey: #e0e0e0;
  --dark-grey: #7b7b7a;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-family: Helvetica, arial, sans-serif;
  color: var(--black);
}

.e-btn{
  display: block;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  padding: 1.5rem 2rem;
  border-radius: .3rem;
}

.e-section {
  display:block;
  width: 100%;
  background:var(--white);
  &--cyan {
    background: var(--cyan);
  }

  &--beige{
    backrgound: var(--beige);
  }
}
.sr-only {
  display: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  outline: none;
}

.h-header {
  display:block;
  width: 100%;
}
.h-header__wrapper {
  display:flex;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 ;
}
.h-nav {
}

.h-header__main-link {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--blue);
}
.h-nav__list {
  list-style-type: none;
  display:flex;
  align-items: center;
}
.h-nav__list__item {
  margin: 0 1.5rem;
  font-size: 1.8rem;
}
.h-nav__list__item__link { }
.h-nav__list__item__link--btn {
  display:flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: normal;
  img{
    margin-right: 1rem;
  }
}
.e-section { }
.e-section--beige {
  background-color: var(--beige);
}
// .c-hero {
//   display:block;
//   width: 100%;
//   padding: 3rem 0;
//   max-height: 100vh;
// }
// .c-hero__wrapper {
//   display:flex;
//   // justify-content: space-between;
//   align-items: center;
//   background: red;
//   max-width: 120rem;
//   margin: 0 auto;
// }

// .c-hero__visual {
//   max-width: 50%;
//   width: 100%;
//   display:block;

// }
// .c-hero__visual__image {
//   display:block;
//   object-fit: cover;
// }
// .c-hero__heading {
//   max-width: 45%;

//   width: 100%;
//   display:flex;
//   margin: auto 0;
//   border:1px solid blue;
// }
// .c-hero__title {
//   font-size: 5.8rem;
//  }
// .c-hero__byline {
//   .c-hero__title + & {
//     margin-top: 2rem;
//   }
//   font-size: 1.6rem;
//   color: var(--dark-grey);
//   line-height: 1.4;
// }
// .c-hero__heading__buttons {
//   padding: 2rem 0 ;
//   display:flex;
//   align-items: center;
// }
// .c-hero__heading__outlink {
//   display:flex;
//   align-items: center;
//   margin-right: 1.6rem;

//   img {
//     margin-right: 1rem;
//   }
//  }
// .e-btn { }
// .c-hero__heading__social {
//   position:relative;
// }
// .c-hero__heading__social__list {
//   padding: 2rem 0;
//   list-style: none;
//   display:flex;
//   position:relative;
//  }
// .c-hero__heading__social__user {
//   display: block;
//   position:absolute;

//   &:nth-child(2) {
//     left: 2rem;
//   }
//   &:nth-child(3) {
//     left: 4rem;
//   }
//   &:nth-child(4) {
//     left: 6rem;
//   }
//   &:nth-child(5) {
//     left: 8rem;
//   }
//   &:nth-child(6) {
//     left: 10rem;
//   }
//   &:nth-child(7) {
//     left: 12rem;
//   }
//   &:nth-child(8) {
//     left: 14rem;
//   }
//     &:nth-child(9) {
//     left: 16rem;
//   }
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.c-hero__heading__learnlink {
  font-size: 1.6rem;
  color: var(--dark-blue);
  font-weight: bold;
  display:flex;
  align-items: center;

  img {
    margin-left: 1rem;
    width: 1.3rem;
    transition: 0.3s ease-out;
  }
}

.c-hero__heading__learnlink:hover img, .c-hero__heading__learnlink:focus img {
  margin-left: 2rem;
}

.c-hero__social__blurb {
  position:relative;
  font-size: 1.6rem;
  display:block;
  margin-top:5rem;
}
.c-hero__visual {
  max-width: 50%;
  height: 100%;
  display:block;
  img{
    display: block;
    width: 100%;  }
}
.c-features {
  margin: 0 auto;
  max-width: 120rem;
  padding: 5rem 0 ;
}
.c-features__heading {
  font-size: 2.5rem;
 }
.c-features__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 2.5rem;
}

.c-features__item {
  padding: 3rem;
  border: 1px solid var(--grey);
  border-radius: .5rem;
  font-size: 1.6rem;
}

 .c-features__item__heading {
   font-size: 2rem;
   margin-top: 1rem;
 }

 .c-features__item__summary {
   font-size: 1.6rem;
   line-height: 1.3;
   font-weight: thin;
   margin-top: 2rem;
   color: var(--dark-grey);
 }
.e-section--cyan { }
.c-customers {
  width: 100%;
  padding: 5rem 0 ;
}

.c-customers__wrapper {
  max-width: 120rem;
  margin: 0 auto;
}
.c-customers__heading{
  font-size: 3rem;
  font-weight: bold;
}
.c-customers__list {
  margin-top: 3rem;
  list-style:none;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
}
.c-customer__list__item {
  flex: 1 1 auto;
  flex-basis: 33.333%;
  max-width: calc(33.333% - 2rem);
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--dark-grey);
  background: var(--white);
  padding: 3rem;
  border-radius: .5rem;
 }
.c-customer__list__item__header {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
.c-customer__list__item__profile {
  width: 100%;
  display:flex;
  align-items: flex-start;
}

.c-customer__list__item__profile__image {
  margin-right: 1rem;
}

.c-customer__list__item__profile__name {
  h6 {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
  }
 }

.c-customer__list__item__summary {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}
.c-customer__list__item__footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
 }
.c-customer__list__item__footer__likes {
  display:flex;
  align-items: center;
 }
.c-customer__list__item__footer__date {
}
.c-plan {
  display:block;
  padding: 5rem 0;
 }
.c-plan__wrapper {
  margin: 0 auto;
  max-width: 30%;

 }

 .c-plan__heading {
   font-size: 3rem;
   text-align: center;
 }
 .c-plan__byline{
   font-size: 1.6rem;
   margin-top: 3rem;
   color: var(--dark-grey);
   text-align: center;
 }
.c-plan__card {
  margin-top: 2rem;
      padding: 4rem;
  background-color: var(--beige);
  border: 1px solid var(--gold);
  border-radius: 2rem;

}
.c-plan__price { }
.c-plan__card__list {
  list-style-type: none;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.c-plan__price__period {
  font-size: 1.8rem;
  color: var(--dark-grey)
}

.c-plan__price__amount {
  font-size: 4.5rem;
  color: var(--black);
  font-weight:bold;

  span {
    font-size: 2rem;
    font-weight: normal;
    color: var(--dark-grey);
  }
}

.c-plan__card__list__item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--dark-grey);

  &:not(:first-child) {
    margin-top: 2rem;
  }
  img {
    margin-right: 2rem;
  }
 }
.c-plan__button {
  display:flex;
  align-items: center;
  border-radius: .5rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  img {
    margin-right: 2rem;
  }
}
.f-footer { }
.f-footer__main-link { }
.f-footer__nav { }
.f-footer__nav__list { }
.f-footer__nav__list__item { }
.sr-only { }