@use './mixin.scss';
*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --cyan: #46ccde;
  --navy: #1d1b67;
  --darkslate: #425466;
  --darkcyan: #005661;
  --lightcyan: #cdf9ff;
  --blue: #3b60bf;
  --black: #000000;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 100;
}

a, a:hover, a:focus {
  color: var(--darkslate);
  text-decoration: none;
}

.sr-only {
  font-size: 0;
  display: none;
  width: 0;
  height: 0;
}

.b-body {
  position: relative;
  color: var(--darkslate);
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.header-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-visuals {
  background-color: var(--cyan);
}

.header-content__inner {
  padding: 4rem;
}

@media (min-width: 960px) {
  .header-content__inner {
    max-width: 54rem;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .header-content__inner {
    padding: 0;
  }
}

.header-content__title {
  color: var(--navy);
}

@media (min-width: 960px) {
  .header-content__title {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  .header-content__title {
    font-size: 6rem;
  }
}

.header__text__paragraph {
  margin-top: 2rem;
  line-height: 1.4;
  font-size: 1.8rem;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text__paragraph img {
  margin-right: 1rem;
}

.header__text__actions {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 1280px) {
  .header__text__actions {
    text-align: left;
  }
}

.btn {
  background: var(--navy);
  padding: 2rem 3rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
}

.btn--white {
  background: var(--white);
  color: var(--darkslate);
}

.inline-link {
  color: var(--darkslate);
  text-decoration: underline;
  font-weight: 700;
}

.header-content__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper {
  max-width: 143rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.nav-list-item {
  margin-right: 2rem;
}

.nav-list-item-link {
  font-size: 1.7rem;
}

.nav-actions {
  margin-right: 3rem;
}

@media (min-width: 1280px) {
  .nav-actions {
    margin-right: 8rem;
  }
}

.section {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section--white {
  background: var(--white);
}

.section-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 143rem;
}

.blurb-section-visuals {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  padding-left: 3rem;
}

.blurb-section-visuals h2 {
  color: var(--navy);
  font-size: 3.8rem;
}

.blurb-section-visuals__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.blurb-section-visuals__list-item {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem;
}

.blurb-section-visuals__list-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.blurb-section-paragraph {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  padding-right: 12rem;
  padding-left: 9rem;
  font-size: 1.8rem;
  line-height: 1.475;
}

.blurb-section-paragraph p + p {
  margin-top: 2rem;
}

.section--cyan {
  background: var(--lightcyan);
}

.col-left {
  padding-left: 3rem;
  padding-right: 12rem;
}

.col-left p {
  font-size: 1.8rem;
  line-height: 1.475;
}

.col-left p + p {
  margin-top: 2rem;
}

.col-left .btn {
  margin-top: 3rem;
}

.section-subheading {
  color: var(--blue);
  font-size: 1.6rem;
}

.section-heading {
  font-size: 2.6rem;
  line-height: 1.4;
}

.col-right {
  padding-right: 12rem;
  padding-left: 12rem;
}

.col-right p {
  font-size: 1.8rem;
  line-height: 1.475;
}

.col-right p + p {
  margin-top: 2rem;
}

.col-right .inline-link {
  display: block;
  margin-top: 3rem;
}

.footer-wrapper {
  padding: 6rem 0;
}

.footer-home {
  max-width: 143rem;
  margin: 0 auto;
  width: 100%;
}

.footer-home-link {
  padding-left: 3rem;
  padding-right: 3rem;
  display: block;
  margin-bottom: 2rem;
}

.footer-inner {
  max-width: 143rem;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-col {
  max-width: 33.333%;
  width: 100%;
}

.footer-col h5 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.footer-col__list {
  line-height: 2;
}

.footer-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 25rem;
  padding-right: 9rem;
}

.footer-subscribe-form {
  border: 1px solid var(--darkslate);
  padding: .5rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 1rem;
}

.footer-subscribe-form__label {
  display: none;
}

.footer-subscribe-form__btn {
  background: var(--navy);
  color: white !important;
  border-radius: .5rem;
  padding: 2rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  display: block;
  width: 100%;
  max-width: 15rem;
}

.footer-subscribe-form__input {
  background: white;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  display: block;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */