@use './mixin.scss';
@import './mixin.scss';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  background: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --cyan: #46ccde;
  --navy: #1d1b67;
  --darkslate: #425466;
  --darkcyan: #005661;
  --lightcyan: #cdf9ff;
  --blue: #3b60bf;
  --black: #000000;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 100;

}

a , a:hover, a:focus {
  color: var(--darkslate);
  text-decoration: none;
}
.sr-only {
  font-size: 0;
  display: none;
  width: 0;
  height: 0;
}

.b-body {
  position:relative;
  color: var(--darkslate);
}
.header {
  width: 100%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: space-between;
  height: 100vh;
 }
.header-content {
  flex: 1 1 50%;
  flex-basis: 50%;
  width: 100%;
  max-width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.header-visuals {
  background-color: var(--cyan);
}
.header-text { }
.header-content__inner {
    padding: 4rem;

  @include respond(tablet) {
    max-width: 54rem;
    width: 100%;
  }

  @include respond(desktop) {
    padding: 0;
  }
 }
.header-content__title {
    color: var(--navy);

  @include respond(tablet) {
    font-size: 4rem;
  }
  @include respond(desktop) {
    font-size: 6rem;
  }
 }
.header__text__paragraph {
  margin-top: 2rem;
  line-height: 1.4;
  font-size: 1.8rem;
  max-width: 90%;
  display:flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
}
.header__text__actions {
    text-align: center;


  @include respond(desktop) {
    text-align: left;
  }
  margin-top: 2rem;

}
.header__text__btn { }
.btn {
  background: var(--navy);
  padding: 2rem 3rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
}
.btn--white {
  background: var(--white);
  color: var(--darkslate);
}
.inline-link {
  color: var(--darkslate);
  text-decoration: underline;
  font-weight: 700;
}
.header-visuals { }
.header-content__image {

  img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 }
.nav {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
 }

 .nav-wrapper {
    max-width: 143rem;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.5rem;
    padding-left:3rem;
    padding-right: 3rem;
 }

.nav-list {
  display:flex;
  align-items: center;
  font-size: 1.4rem;
}
.nav-list-item {
  margin-right: 2rem;
}
.nav-list-item-link {
  font-size: 1.7rem;
}
.sr-only { }
.nav-actions {
  margin-right: 3rem;
  @include respond(desktop) {
    margin-right: 8rem;
  }
}
.nav-actions-btn {

}

.section {
  display:block;
  position:relative;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
 }

.section--white {
  background: var(--white);
}

.section-wrapper {
    margin: 0 auto;
  display:flex;
  justify-content: space-between;
  max-width: 143rem;
}

.blurb-section-visuals {
  flex: 1 1 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  padding-left: 3rem;
  h2 {
    color: var(--navy);
    font-size: 3.8rem;
  }
 }
.blurb-section-visuals__list {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.blurb-section-visuals__list-item {
  display:block;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem;

  img {
    display:block;
    width: 100%;
    height: 100%;
  }
}
.blurb-section-paragraph {
    flex: 1 1 50%;
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  padding-right: 12rem;
  padding-left: 9rem;
  font-size: 1.8rem;
  line-height: 1.475;

  p + p {
    margin-top: 2rem;
  }
 }

.section--cyan {
  background: var(--lightcyan);
}
.col-left {
  padding-left: 3rem;
  padding-right: 12rem;
  p {
    font-size: 1.8rem;
    line-height: 1.475;
  }
  p + p {
    margin-top: 2rem;
  }

  .btn {
    margin-top: 3rem;
  }
}
.btn { }

.section-subheading {
  color: var(--blue);
  font-size: 1.6rem;
}

.section-heading {
  font-size: 2.6rem;
  line-height: 1.4;
}

.col-right {
  padding-right: 12rem;
  padding-left: 12rem;

  p {
    font-size: 1.8rem;
    line-height: 1.475;
  }

  p + p {
    margin-top: 2rem;
  }

  .inline-link {
    display:block;
    margin-top: 3rem;
  }
 }
.inline-link {

}
.footer { }
.footer-wrapper {
  padding: 6rem 0;
 }
.footer-home {
  max-width: 143rem;
  margin: 0 auto;
  width: 100%;
 }
.footer-home-link {
  padding-left: 3rem;
  padding-right: 3rem;
  display:block;
  margin-bottom: 2rem;
}
.footer-inner {
  max-width: 143rem;
  margin: 0 auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-nav-wrapper {
  display:flex;
  max-width: 50%;
  width: 100%;
  flex-direction: row;
}

.footer-col {
    max-width: 33.333%;
  width: 100%;

  h5 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

}
.footer-col__list {
  line-height: 2;

}
.footer-subscribe {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25rem;
  padding-right: 9rem;
}
.footer-subscribe-form {
  border: 1px solid var(--darkslate);
  padding: .5rem;
  border-radius: .5rem;
  display:flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
}

.footer-subscribe-form__label { display:none;}

.footer-subscribe-form__btn {
  background: var(--navy);
  color: white !important;
  border-radius: .5rem;
  padding: 2rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  display:block;
  width: 100%;
  max-width: 15rem;
}
.footer-subscribe-form__input {
  background: white;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  display:block;
  width: 100%;
}