@mixin respond($breakpoint){
    @if $breakpoint == mobile{
        @media(min-width:480px){@content;} //max 600px
    }
    @if $breakpoint == tablet{
        @media(min-width:768px){@content;} //max 900px
    }
    @if $breakpoint == desktop{
        @media(min-width:1280px){@content;} //min 1800px
    }
}