@import './mixins.scss';
@use './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,;1,400;1,500;1,700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.375;
  font-family: var(--Cabin);
}

:root {
  --beige: #f0eeeb;
  --brown: #5a5444;
  --slate: #9e9e9e;
  --black: #000000;
  --white: #ffffff;
  --Cabin: 'Cabin', sans-serif;
  --lightweight: 400;
  --midweight: 500;
  --bold: 600;
  --demibold: 700;
}


/*** ELEMENT STYLES ***/
 .e-inline-link {
  text-decoration: underline;
  transition: text-decoration 0.3s ease-out;
  cursor:pointer;
  &:hover, &:after {
    text-decoration: none;
  }
}

.btn {
  padding: 2rem 1.5rem;
  background-color: var(--black);
  border-radius: .6rem;
  color: var(--white);
  font-weight: 600;
  transition: background-color 0.3s ease-out;
  word-break: normal;
  display:flex;
  flex-wrap: nowrap;
  &:hover,
  &:focus {
    background-color: var(--brown);
  }
}

.e-input {
  background: var(--white);
  border-radius: .5rem;
  padding: 2rem 1.5rem ;
  font-size: 1.7rem;
  &:placeholder {
    color: var(--brown);
    font-size: 1.9rem;
  }
  &:focus {
    border: 1px solid black;
  }
}

.e-link {
  font-weight: var(--bold);
  text-decoration: underline;
  cursor:pointer;

  &:hover, &:focus {
    text-decoration: none;
  }
}

/* Component classes */
.b-body {
  position:relative;
}

.h-notice {
  background: var(--black);
  color: var(--white);
 }

 .h-notice__inner {
  max-width: 133rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
 }


.h-header {
  position:relative;
  display:block;
  width: 100%;
  background: var(--beige);
  height: auto;
  @include respond(desktop) {
    height: 100vh;
  }
}

.h-mob-nav__btn {
  @include respond(tablet) {
    display:none;
  }
}
  .h-main-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 133rem;
    margin: 0 auto;
    padding: 5rem 3rem;

    @include respond(desktop) {
      padding: 5rem 0;
    }
  }
    .h-main-nav__logo {
      font-weight: var(--demibold);
      color: var(--black);
      font-size: 2rem;
      border-bottom: 2px solid var(--beige);
      transition: border-bottom 0.3s ease-out;

      &:hover, &:focus {
        border-bottom: 2px solid var(--black);
      }
    }

    .h-main-nav__inner {
      display: none;

      @include respond(tablet) {
        display:block;
        width: 100%;
      }

      @include respond(tablet) {
        max-width: 80%;
        display:flex;
        justify-content: flex-end;
        align-items: center;
      }

      @include respond(desktop) {
        max-width: 60%;
        justify-content: space-between;
      }
    }

    .h-main-nav__list {
      display:flex;
    }

      .h-main-nav__list__item {
        margin-left: 2rem;
        margin-right: 2rem;
        transition: border-bottom 0.3s ease-out;
        border-bottom: 2px solid var(--beige);
        &:hover, &:focus  {
          border-bottom: 2px solid black;
        }
      }

        .h-main-nav__actions {
          display:flex;
          align-items: center;
        }
        .h-main-nav__actions__link {
          &:not(.btn) {
            border-bottom: 2px solid var(--beige);
            transition: border-bottom 0.3s ease-out;

            &:hover, &:after {
              border-bottom: 2px solid var(--black);
            }
          }

          &.btn {
            margin-left: 2rem;
          }
        }

.h-header__inner {
  display:flex;
  margin: 0 auto;
  max-width: 133rem;
  flex-direction: column-reverse;
  padding: 0 3rem 6rem;

  @include respond(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

  .h-header__inner__content {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 100%;
    flex-basis: 100%;

    @include respond(desktop) {
      flex: 1 1 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
  }

    .h-header__inner__content__text {
        margin: 3rem 0 0;

      @include respond(tablet) {
        margin: 3rem 0 0;
      }

      @include respond(desktop) {
        margin: 0;
      }

      h2 {
        font-size: 4rem;
        @include respond(tablet) {
          font-size: 6rem;
        }
      }
      p {
        margin-top: 1rem;
      }
      p, ul {
        color: var(--brown);
        font-size: 1.8rem;
        line-height: 1.6;
      }
    }

    .h-header__inner__content__list {
      margin-top: 2rem;
      li {
        display:flex;
        align-items: center;
        line-height: 2.2;
      }
      img {
        margin-right: 1rem;
      }
    }

    .h-header__inner__content__form {
      display:flex;
      align-items: center;
      margin-top: 2rem;

      form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

      .h-header__inner__content__input {
        margin-right: 1rem;
      }

      .h-header__inner__content__btn {
        font-size: 1.8rem;
      }

      .h-header__inner__visuals {
        width: 100%;
        flex-basis: 100%;
        flex: 1 1 100%;
        display:flex;
        justify-content: flex-end;

        @include respond(desktop){
          flex: 1 1 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

  .h-header__inner__visuals__imagewrapper {
      width: 100%;
      height: 40rem;
      border-radius: .8rem;
      overflow: hidden;

      @include respond(desktop) {
        max-width: 50rem;
      }

      img {
        object-position: top center;
        display:block;
        width: 100%;

        @include respond(desktop) {
          object-fit: cover;
          height: 100%;
      }
    }
  }

.s-sponsors {
  display:block;
  position:relative;
  width: 100%;
 }

  .s-sponsors__inner {
    max-width: 133rem;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 3rem;
    overflow-x: display;

    @include respond(desktop) {
      padding: 5rem 0;
    }
  }
    .s-sponsors__list {
      display:flex;
      justify-content: space-between;
      align-items: center;
      li {
        display:flex;
        justify-content: center;
        align-items: center;
        max-height: 3rem;
        min-height: 3rem;
        height: 100%;
        margin:0 1.25rem;

        img {
          display:block;
          width: 100%;
          height: 100%;
        }
      }
    }
.s-cta {
  display:block;
  position:relative;
  width: 100%;
  background: var(--white);

  &.s-cta__one {

    padding: 0 3rem;
    @include respond(desktop) {
      padding: 0;
    }
  }
}

  .s-cta__inner {
    margin: 0 auto;
      padding: 8rem 4rem 8rem ;

    @include respond(tablet) {
      flex-direction: column;
      align-items: center;
      padding: 8rem 4rem 8rem ;
    }

    @include respond(desktop) {
      flex-direction: row;
      max-width: 133rem;
      display:flex;
      width: 100%;
      justify-content: space-between;
      padding: 4.5rem 8rem 0 ;
    }

    .s-cta__one & {
      padding: 4.5rem 8rem 0 ;

      @include respond(tablet) {
        padding: 4.5rem 8rem 0 ;
      }
      background: var(--beige);
      border-radius: 1rem;
    }
  }

    .s-cta__two .s-cta__inner {
      display:flex;
      flex-direction: column-reverse;

      @include respond(desktop) {
        flex-direction: row;
      }
    }

    .s-cta__text {
      display:flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction:column;
      margin-top: -4.5rem;
      flex-basis: 45%;

      .s-cta__two & {

        @include respond(desktop) {
          flex-basis: 80%;
          max-width: 100%;
          padding-left: 5rem;
          margin-top: 0;
        }
      }

      .s-cta__one & {
        margin-top: 4rem;

        @include respond(desktop) {
          margin-top: 0;
          margin-bottom: 3rem;
        }
      }

      h3{
        font-size: 4rem;
        width: 80%;
        font-weight: var(--bold);
      }

      h3 + p {
        margin-top: 1rem;
      }

      p, a {
        color: var(--brown);
        font-size: 1.9rem;
        line-height: 1.6;
      }
      .e-link {
        margin-top: 2rem;
      }
    }

.s-cta__two { }

.s--white {
  background: var(--white);
}

.s-cta__imagewrapper {

  .s-cta__one & {
    max-width: 50rem;
    width: 100%;
    margin-top: 3rem;

    @include respond(tablet){
      margin: 0 auto;
    }

    @include respond(desktop){
      margin: auto;
      margin-top: 0;
    }
  }
  .s-cta__two & {
    margin: 0 auto;
    max-width:  64rem;
    width: 100%;
  }

  img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.f-footer {
  background: var(--black);
  color: var(--white);
  display:block;
  position:relative;
  width: 100%;
  font-family: var(--Cabin);
  padding: 0 3rem;
  @include respond(desktop) {
    padding: 0;
  }
}

  .f-footer__inner {
    max-width: 133rem;
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 7rem 0;
  }

  .f-footer__homelink {
    font-weight: var(--demibold);
    text-transform: lowercase;
    color: var(--white);
  }

    .f-footer__text {
      flex-basis: 50%;
      flex: 1 1 50%;

      @include respond(desktop){
        flex-basis: 33%;
        flex: 1 1 33%;
      }
      color: var(--slate);

      p {
        margin-top: 2rem;
      }
    }

    .f-footer__links {
      flex-basis: 66%;
      flex: 1 1 66%;
      display:flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin-left: 3rem;
      margin-top: -2rem;
      @include respond(desktop){
        flex-wrap: nowrap;
      }
    }

    .f-footer__links__col {
      flex: 1 1 50%;
      flex-basis: 50%;
      max-width: 50%;
      width: 100%;
      margin-top: 2rem;

      @include respond(desktop) {
        max-width: 17rem;
      }
    }
      .f-footer__links__col__heading {
        color: var(--white);
      }
      .f-footer__links__col__list {
        margin-top: 2rem;
        color: var(--slate);
        font-weight: var(--lightweight);
      }
        .f-footer__links__col__list-item {
          line-height: 1.8;
        }