@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,;1,400;1,500;1,700&display=swap");
@use './mixins.scss';
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.375;
  font-family: var(--Cabin);
}

:root {
  --beige: #f0eeeb;
  --brown: #5a5444;
  --slate: #9e9e9e;
  --black: #000000;
  --white: #ffffff;
  --Cabin: 'Cabin', sans-serif;
  --lightweight: 400;
  --midweight: 500;
  --bold: 600;
  --demibold: 700;
}

/*** ELEMENT STYLES ***/
.e-inline-link {
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 0.3s ease-out;
  transition: -webkit-text-decoration 0.3s ease-out;
  transition: text-decoration 0.3s ease-out;
  transition: text-decoration 0.3s ease-out, -webkit-text-decoration 0.3s ease-out;
  cursor: pointer;
}

.e-inline-link:hover, .e-inline-link:after {
  text-decoration: none;
}

.btn {
  padding: 2rem 1.5rem;
  background-color: var(--black);
  border-radius: .6rem;
  color: var(--white);
  font-weight: 600;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  word-break: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn:hover, .btn:focus {
  background-color: var(--brown);
}

.e-input {
  background: var(--white);
  border-radius: .5rem;
  padding: 2rem 1.5rem;
  font-size: 1.7rem;
}

.e-input:placeholder {
  color: var(--brown);
  font-size: 1.9rem;
}

.e-input:focus {
  border: 1px solid black;
}

.e-link {
  font-weight: var(--bold);
  text-decoration: underline;
  cursor: pointer;
}

.e-link:hover, .e-link:focus {
  text-decoration: none;
}

/* Component classes */
.b-body {
  position: relative;
}

.h-notice {
  background: var(--black);
  color: var(--white);
}

.h-notice__inner {
  max-width: 133rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.h-header {
  position: relative;
  display: block;
  width: 100%;
  background: var(--beige);
  height: auto;
}

@media (min-width: 1280px) {
  .h-header {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .h-mob-nav__btn {
    display: none;
  }
}

.h-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 133rem;
  margin: 0 auto;
  padding: 5rem 3rem;
}

@media (min-width: 1280px) {
  .h-main-nav {
    padding: 5rem 0;
  }
}

.h-main-nav__logo {
  font-weight: var(--demibold);
  color: var(--black);
  font-size: 2rem;
  border-bottom: 2px solid var(--beige);
  -webkit-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
}

.h-main-nav__logo:hover, .h-main-nav__logo:focus {
  border-bottom: 2px solid var(--black);
}

.h-main-nav__inner {
  display: none;
}

@media (min-width: 768px) {
  .h-main-nav__inner {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .h-main-nav__inner {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1280px) {
  .h-main-nav__inner {
    max-width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.h-main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-main-nav__list__item {
  margin-left: 2rem;
  margin-right: 2rem;
  -webkit-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
  border-bottom: 2px solid var(--beige);
}

.h-main-nav__list__item:hover, .h-main-nav__list__item:focus {
  border-bottom: 2px solid black;
}

.h-main-nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-main-nav__actions__link:not(.btn) {
  border-bottom: 2px solid var(--beige);
  -webkit-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
}

.h-main-nav__actions__link:not(.btn):hover, .h-main-nav__actions__link:not(.btn):after {
  border-bottom: 2px solid var(--black);
}

.h-main-nav__actions__link.btn {
  margin-left: 2rem;
}

.h-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 133rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0 3rem 6rem;
}

@media (min-width: 1280px) {
  .h-header__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.h-header__inner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 1280px) {
  .h-header__inner__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

.h-header__inner__content__text {
  margin: 3rem 0 0;
}

@media (min-width: 768px) {
  .h-header__inner__content__text {
    margin: 3rem 0 0;
  }
}

@media (min-width: 1280px) {
  .h-header__inner__content__text {
    margin: 0;
  }
}

.h-header__inner__content__text h2 {
  font-size: 4rem;
}

@media (min-width: 768px) {
  .h-header__inner__content__text h2 {
    font-size: 6rem;
  }
}

.h-header__inner__content__text p {
  margin-top: 1rem;
}

.h-header__inner__content__text p, .h-header__inner__content__text ul {
  color: var(--brown);
  font-size: 1.8rem;
  line-height: 1.6;
}

.h-header__inner__content__list {
  margin-top: 2rem;
}

.h-header__inner__content__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.2;
}

.h-header__inner__content__list img {
  margin-right: 1rem;
}

.h-header__inner__content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.h-header__inner__content__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-header__inner__content__input {
  margin-right: 1rem;
}

.h-header__inner__content__btn {
  font-size: 1.8rem;
}

.h-header__inner__visuals {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1280px) {
  .h-header__inner__visuals {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}

.h-header__inner__visuals__imagewrapper {
  width: 100%;
  height: 40rem;
  border-radius: .8rem;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .h-header__inner__visuals__imagewrapper {
    max-width: 50rem;
  }
}

.h-header__inner__visuals__imagewrapper img {
  -o-object-position: top center;
     object-position: top center;
  display: block;
  width: 100%;
}

@media (min-width: 1280px) {
  .h-header__inner__visuals__imagewrapper img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

.s-sponsors {
  display: block;
  position: relative;
  width: 100%;
}

.s-sponsors__inner {
  max-width: 133rem;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 3rem;
  overflow-x: display;
}

@media (min-width: 1280px) {
  .s-sponsors__inner {
    padding: 5rem 0;
  }
}

.s-sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-sponsors__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 3rem;
  min-height: 3rem;
  height: 100%;
  margin: 0 1.25rem;
}

.s-sponsors__list li img {
  display: block;
  width: 100%;
  height: 100%;
}

.s-cta {
  display: block;
  position: relative;
  width: 100%;
  background: var(--white);
}

.s-cta.s-cta__one {
  padding: 0 3rem;
}

@media (min-width: 1280px) {
  .s-cta.s-cta__one {
    padding: 0;
  }
}

.s-cta__inner {
  margin: 0 auto;
  padding: 8rem 4rem 8rem;
}

@media (min-width: 768px) {
  .s-cta__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8rem 4rem 8rem;
  }
}

@media (min-width: 1280px) {
  .s-cta__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 133rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.5rem 8rem 0;
  }
}

.s-cta__one .s-cta__inner {
  padding: 4.5rem 8rem 0;
  background: var(--beige);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .s-cta__one .s-cta__inner {
    padding: 4.5rem 8rem 0;
  }
}

.s-cta__two .s-cta__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 1280px) {
  .s-cta__two .s-cta__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.s-cta__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -4.5rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media (min-width: 1280px) {
  .s-cta__two .s-cta__text {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    max-width: 100%;
    padding-left: 5rem;
    margin-top: 0;
  }
}

.s-cta__one .s-cta__text {
  margin-top: 4rem;
}

@media (min-width: 1280px) {
  .s-cta__one .s-cta__text {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.s-cta__text h3 {
  font-size: 4rem;
  width: 80%;
  font-weight: var(--bold);
}

.s-cta__text h3 + p {
  margin-top: 1rem;
}

.s-cta__text p, .s-cta__text a {
  color: var(--brown);
  font-size: 1.9rem;
  line-height: 1.6;
}

.s-cta__text .e-link {
  margin-top: 2rem;
}

.s--white {
  background: var(--white);
}

.s-cta__one .s-cta__imagewrapper {
  max-width: 50rem;
  width: 100%;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .s-cta__one .s-cta__imagewrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .s-cta__one .s-cta__imagewrapper {
    margin: auto;
    margin-top: 0;
  }
}

.s-cta__two .s-cta__imagewrapper {
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;
}

.s-cta__imagewrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.f-footer {
  background: var(--black);
  color: var(--white);
  display: block;
  position: relative;
  width: 100%;
  font-family: var(--Cabin);
  padding: 0 3rem;
}

@media (min-width: 1280px) {
  .f-footer {
    padding: 0;
  }
}

.f-footer__inner {
  max-width: 133rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 7rem 0;
}

.f-footer__homelink {
  font-weight: var(--demibold);
  text-transform: lowercase;
  color: var(--white);
}

.f-footer__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: var(--slate);
}

@media (min-width: 1280px) {
  .f-footer__text {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}

.f-footer__text p {
  margin-top: 2rem;
}

.f-footer__links {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66%;
          flex: 1 1 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: -2rem;
}

@media (min-width: 1280px) {
  .f-footer__links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.f-footer__links__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 1280px) {
  .f-footer__links__col {
    max-width: 17rem;
  }
}

.f-footer__links__col__heading {
  color: var(--white);
}

.f-footer__links__col__list {
  margin-top: 2rem;
  color: var(--slate);
  font-weight: var(--lightweight);
}

.f-footer__links__col__list-item {
  line-height: 1.8;
}
/*# sourceMappingURL=style.css.map */