@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media(max-width:37.5em){@content;} //max 600px
    }

    @if $breakpoint == tab-port{
        @media(max-width:56.25em){@content;} //max 900px
    }

    @if $breakpoint == tab-land{
        @media(max-width:75em){@content;} //max 1200px
    }

    @if $breakpoint == big-desktop{
        @media(min-width:112.5em){@content;} //min 1800px
    }
}