@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background: none;
  list-style: none;
  border: none;
}

:root {
  --darkblue: hsl(233, 26%, 24%);
  --lime: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --lite-grayBlue: hsl(220, 16%, 96%);
  --gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --lightweight: 300;
  --regweight: 400;
  --bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
}

/* utility classes */
.section {
  width: 100%;
  display: block;
  position: relative;
}

.section-inner {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 124rem;
}

.btn {
  display: block;
  font-size: 1.5rem;
  line-height: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2.5rem 3rem;
  border-radius: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--lime)), to(var(--cyan)));
  background: linear-gradient(to right, var(--lime), var(--cyan));
  color: var(--white);
}

/* Component classes */
.nav-wrapper {
  background: white;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  color: var(--grayBlue);
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.nav-item a:hover, .nav-item a:focus {
  color: var(--lime);
}

.header {
  position: relative;
  display: block;
  width: 100%;
  background: var(--white);
}

.header .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 40%;
  padding: 20rem 0;
  max-height: 67rem;
  height: 100%;
}

.header__content h1 {
  font-weight: var(--lightweight);
  font-size: 5rem;
  color: var(--darkblue);
}

.header__content p {
  margin-top: 3rem;
  color: var(--grayBlue);
  font-size: 1.9rem;
  line-height: 1.385;
}

.header__content p + .btn {
  margin-top: 3rem;
}

.header-visual {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 0;
  display: block;
}

.header-visual__background {
  position: absolute;
  top: -15rem;
  right: -20%;
}

.header-visual__mockup {
  position: absolute;
  top: -10rem;
  z-index: 1;
  right: 0%;
}

.why {
  background: var(--gray);
}

.why.section {
  padding: 10rem 0;
}

.heading {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: var(--lightweight);
}

.why-blurb {
  font-size: 1.7rem;
  line-height: 1.6;
  color: var(--grayBlue);
  max-width: 60%;
  display: block;
  width: 100%;
}

.why-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  width: 100%;
}

.why-list-item {
  -ms-flex-preferred-size: calc(25% - 2rem);
      flex-basis: calc(25% - 2rem);
  width: calc(25% - 2rem);
}

.why-list-item p {
  font-size: 1.6rem;
  color: var(--grayBlue);
  margin-top: 3rem;
  line-height: 1.6;
}

.why-list-item__heading {
  margin-top: 3rem;
  font-weight: var(--lightweight);
  color: var(--darkblue);
  font-size: 2.2rem;
}

.articles {
  background: var(--lite-grayBlue);
}

.articles.section {
  padding: 10rem 0;
}

.articles-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -1.5rem;
}

.heading + .articles-list {
  margin-top: 6rem;
}

.articles-list-item {
  margin: 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
  background: var(--white);
  padding-bottom: 1rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.articles-list-item__image-wrap {
  max-height: 19rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.articles-list-item__image-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-list-item__content {
  padding: 3rem;
  display: block;
  height: 100%;
}

.articles-list-item__subheading {
  font-size: 1.3rem;
  color: var(--grayBlue);
}

.articles-list-item__title {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: var(--lightweight);
}

.articles-list-item__subheading + .articles-list-item__title {
  margin-top: 2rem;
}

.articles-list-item__paragraph {
  color: var(--grayBlue);
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
}

.footer {
  background: var(--darkblue);
  padding: 6rem 0;
}

.footer-inner {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  margin: 0 -1.5rem;
}

.footer-inner__main__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(25% - 3rem);
          flex: 1 0 calc(25% - 3rem);
  margin: 0 1.5rem;
}

.footer-inner__main__col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-inner__main__col:last-child small {
  color: var(--grayBlue);
  margin-top: 2rem;
  font-size: 1.3rem;
}

.footer-inner__main__col--large {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0 1.5rem;
}

.footer-inner__main__socials {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-inner__main__social {
  margin-right: 1rem;
}

.footer-inner__main__social:last-child {
  margin-right: 0;
}

.footer-inner__main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--gray);
  text-decoration: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-inner__main__nav__list {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  max-width: 33.333%;
}

.footer-inner__main__nav__list a {
  color: var(--gray);
  font-size: 1.4rem;
  text-decoration: none;
}

.footer-inner__main__nav__list a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */