@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  list-style: none;
  border: none;
}

:root {
  --darkblue: hsl(233, 26%, 24%);
  --lime: hsl(136, 65%, 51%);
  --cyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --lite-grayBlue: hsl(220, 16%, 96%);
  --gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --lightweight: 300;
  --regweight: 400;
  --bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Public Sans', sans-serif;
}

/* utility classes */

.section {
  width: 100%;
  display:block;
  position:relative;

  &-inner {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 124rem;
  }
}

.btn {
  display:block;
  font-size: 1.5rem;
  line-height: 0;
  flex-wrap: nowrap;
  padding: 2.5rem 3rem;
  border-radius: 3rem;
  background: linear-gradient(to right, var(--lime), var(--cyan));
  color: var(--white);
}


/* Component classes */

.nav-wrapper {
  background: white;
  display:block;
  width: 100%;
  position:relative;
  z-index: 2;
}

.nav {
  display:flex;
  align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;

  &-item {
    margin: 0 1rem;

    a {
      color: var(--grayBlue);
      text-decoration: none;
      transition: color 0.3s ease-out;
    }
    a:hover, a:focus {
      color: var(--lime);
    }
  }
}

.header {
  position:relative;
  display:block;
  width: 100%;
  background: var(--white);

  .section-inner {
    display:flex;
    justify-content: space-between;
  }
 }

.header__content {
  flex: 1 1 40%;
  flex-basis: 40%;
  max-width: 40%;
  padding: 20rem 0;
  max-height: 67rem;
  height: 100%;

  h1 {
    font-weight: var(--lightweight);
    font-size: 5rem;
    color: var(--darkblue);
  }
  p {
    margin-top: 3rem;
    color: var(--grayBlue);
    font-size: 1.9rem;
    line-height: 1.385;
  }

  p + .btn {
    margin-top: 3rem;
  }
}

.header-visual {
  width: 100%;
  height: 100%;
  position:absolute;
  overflow:hidden;
  top: 0;
  right: 0;
  z-index: 0;
  display:block;
}

.header-visual__background {
  position:absolute;
  top: -15rem;
  right:-20%;
}
.header-visual__mockup {
  position:absolute;
  top: -10rem;
  z-index: 1;
  right: 0%;
}
.section { }
.why {
  background: var(--gray);

  &.section{
    padding: 10rem 0;
  }
 }

.heading {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight: var(--lightweight);
}
.why-blurb {
  font-size: 1.7rem;
  line-height: 1.6;
  color: var(--grayBlue);
  max-width: 60%;
  display:block;
  width: 100%;
}
.why-list {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5rem;
  width: 100%;
}

.why-list-item {
  flex-basis: calc(25% - 2rem);
  width: calc(25% - 2rem);
  p {
    font-size: 1.6rem;
    color: var(--grayBlue);
    margin-top: 3rem;
    line-height: 1.6;
  }
}
.why-list-item__icon { }
.why-list-item__heading {
  margin-top: 3rem;
  font-weight: var(--lightweight);
  color: var(--darkblue);
  font-size: 2.2rem;
}

.articles {
  background: var(--lite-grayBlue);
  &.section{
    padding: 10rem 0;
  }
}

.articles-heading { }

.articles-list {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -1.5rem;
  .heading + & {
    margin-top: 6rem;
  }
}
.articles-list-item {
  margin: 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
  background: var(--white);
  padding-bottom: 1rem;
  height: 100%;
  flex: 1;
}

.articles-list-item__image-wrap {
  max-height: 19rem;
  height: 100%;
  width: 100%;
  overflow: hidden;

  img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.articles-list-item__content {
  padding: 3rem;
  display:block;
  height: 100%;
}
.articles-list-item__subheading {
  font-size: 1.3rem;
  color: var(--grayBlue);
}
.articles-list-item__title {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: var(--lightweight);

  .articles-list-item__subheading + & {
    margin-top: 2rem;
  }
 }

.articles-list-item__paragraph {
  color: var(--grayBlue);
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
}
.footer {
  background: var(--darkblue);
  padding: 6rem 0 ;
}
.footer-inner {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
}
.footer-inner__main {
  display:flex;
  max-width: 75%;
  margin: 0 -1.5rem;
}
.footer-inner__main__col {
  flex: 1 0 calc(25% - 3rem);
  margin: 0 1.5rem;
  &:last-child {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

    small {
      color: var(--grayBlue);
      margin-top: 2rem;
      font-size: 1.3rem;
    }
  }
}
.footer-inner__main__col--large{
  flex: 1 0 50%;
  margin: 0 1.5rem;
}
.footer-inner__main__link { }
.footer-inner__main__socials {
  margin-top: 2rem;
  display:flex;
}
.footer-inner__main__social {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
 }
.footer-inner__main__social__link { }
.footer-inner__main__nav {
  display:flex;
    color: var(--gray);
  text-decoration: none;
  justify-content: flex-start;
 }
.footer-inner__main__nav__list {
    flex-basis: 33.333%;
    max-width: 33.333%;

  a {
    color: var(--gray);
    font-size: 1.4rem;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
}
.footer-inner__side { }
.footer-inner__side-wrap { }
.foote-rinner__side-btn { }
.footer-inner__side-credit { }