@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@use './mixins.scss';
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --purple: hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 66%);
  --grey: hsl(229, 8%, 60%);
  --darkgrey: hsl(229, 31%, 21%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  color: var(--darkgrey);
}

.layout {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.section {
  position: relative;
  display: block;
  width: 100%;
}

.section__inner {
  margin: 0 auto;
  max-width: 122rem;
  width: 100%;
  padding: 2.5rem 2rem;
}

@media (min-width: 960px) {
  .section__inner {
    padding: 5rem 2rem;
  }
}

.nav {
  max-width: 122rem;
  width: 100%;
  padding: 3rem 2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 960px) {
  .nav {
    padding: 6rem 2rem;
  }
}

.mobile-close-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 960px) {
  .mobile-close-trigger {
    display: none;
  }
}

.mobile-close-btn {
  background: none;
}

.mobile-nav-trigger {
  display: block;
  background: none;
  padding: 0 2rem;
}

.mobile-nav-trigger:active, .mobile-nav-trigger:focus {
  cursor: pointer;
}

@media (min-width: 960px) {
  .mobile-nav-trigger {
    display: none;
  }
}

.nav-list {
  display: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-list.active {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  height: 100%;
  background: var(--darkgrey);
  color: white;
  z-index: 9;
  max-width: 50rem;
  width: 100%;
}

@media (min-width: 960px) {
  .nav-list.active {
    display: none;
  }
}

@media (min-width: 960px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.nav-list-item {
  margin: 0 2rem;
}

.active .nav-list-item {
  padding: 2rem 0;
}

.nav-list-item:last-child {
  margin-left: 6rem;
}

.active .nav-list-item:last-child {
  margin-left: 0;
  padding-left: 2rem;
}

.nav-list-item.btn--red {
  text-transform: uppercase;
}

.active .nav-list-item.btn--red {
  margin: 0;
}

.nav-list-item__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darkgrey);
  font-size: 1.4rem;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3 ease-out;
  transition: -webkit-transform 0.3 ease-out;
  transition: transform 0.3 ease-out;
  transition: transform 0.3 ease-out, -webkit-transform 0.3 ease-out;
}

.nav-list-item__link:hover, .nav-list-item__link:focus {
  color: var(--red);
}

.active .nav-list-item__link {
  color: white;
  font-size: 2rem;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.btn {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.5rem;
  border-radius: .4rem;
  text-decoration: none;
  -webkit-transition: background 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: background 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.btn:hover, .btn:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15);
}

.btn--red {
  color: white;
  background: var(--red);
  border: 1px solid var(--red);
}

.btn--red:hover, .btn--red:focus {
  background: white;
  color: var(--red);
}

.btn--purple {
  color: white;
  background: var(--purple);
  border: 1px solid var(--purple);
}

.btn--purple:hover, .btn--purple:focus {
  background: white;
  color: var(--purple);
}

.hero .section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 960px) {
  .hero .section__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__content h2 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--darkgrey);
}

.hero__content p {
  font-weight: 400;
  color: var(--grey);
  margin-top: 3rem;
  line-height: 1.5;
}

.hero__content .intro__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  .hero__content .intro__actions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero__content .intro__actions .btn {
  margin-top: 1rem;
}

@media (min-width: 960px) {
  .hero__content .intro__actions .btn {
    margin-right: 2rem;
  }
}

.hero-shape {
  background: var(--purple);
  position: absolute;
  z-index: -2;
  top: 20%;
  right: -30%;
  width: 70%;
  height: 30rem;
  border-radius: 20rem;
}

@media (min-width: 768px) {
  .hero-shape {
    top: 35%;
    right: -30%;
    width: 70%;
    height: 35rem;
  }
}

.features {
  text-align: center;
}

.features > h3 {
  font-size: 3rem;
}

.features__heading {
  font-size: 3rem;
}

.features__blurb {
  color: var(--grey);
  margin: 2rem auto 0;
}

@media (min-width: 960px) {
  .features__blurb {
    max-width: 40%;
  }
}

.tabs__controls {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

.tab__panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .tab__panel__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tab__panel__inner img {
  width: 100%;
}

.tab__panel__inner__summary {
  text-align: left;
}

@media (min-width: 960px) {
  .tab__panel__inner__summary {
    margin-left: 3rem;
  }
}

.tab__panel__inner__summary h3 {
  font-size: 3rem;
}

.tab__panel__inner__summary p {
  margin: 0;
  font-size: 1.7rem;
  color: var(--grey);
}

.tab__panel__inner__summary .btn {
  margin-top: 2rem;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* TAB STYLES */
.nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.nav-tab a {
  text-decoration: none;
  color: var(--purple);
}

@media (min-width: 960px) {
  .nav-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tabs .nav-tab li {
  padding: 2rem 1.5rem;
  border-bottom: 0.5px solid var(--grey);
  margin-bottom: 3rem;
  position: relative;
}

.tabs .tab-content {
  font-size: 1.3rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs .tab-content .tab-pane {
  display: none;
  /* inactive hidden */
}

.tabs .tab-content .tab-pane.active {
  display: block;
}

.tab-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab__panel__inner {
  max-width: 80%;
  width: 100%;
}

.panels {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

@media (min-width: 960px) {
  .panels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.download .section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .section-heading, .download .section-blurb {
  text-align: center;
}

.download .section-blurb {
  width: 100%;
  color: var(--grey);
  margin-top: 3rem;
}

@media (min-width: 960px) {
  .download .section-blurb {
    max-width: 40%;
  }
}

.panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  margin: 0 2rem;
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28rem;
          flex: 1 1 28rem;
  -ms-flex-preferred-size: 28rem;
      flex-basis: 28rem;
  max-width: 28rem;
  width: 100%;
}

.panel__item:nth-child(2) {
  margin-top: 3rem;
}

.panel__item:nth-child(3) {
  margin-top: 6rem;
}

.panel__item h4 {
  margin-top: 2rem;
}

.panel__item p {
  font-size: 1.4rem;
  color: var(--grey);
}

.panel__item img:not(.icon) {
  margin-top: 2rem;
}

.panel__item .btn {
  margin-top: 2rem;
}

.faqs .section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faqs .section__inner > p {
  font-size: 1.6rem;
  color: var(--grey);
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

@media (min-width: 960px) {
  .faqs .section__inner > p {
    max-width: 40%;
  }
}

.faqs .section__inner .btn {
  margin-top: 3rem;
}

.accordion__container {
  max-width: 60rem;
  width: 100%;
  margin-top: 4rem;
}

.accordion__toggle {
  background: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 1.7rem;
  padding: 2rem;
  border-top: 1px solid var(--grey);
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.accordion__toggle:focus, .accordion__toggle:hover, .accordion__toggle:active {
  color: var(--red);
  cursor: pointer;
  fill: var(--red);
}

.accordion__content {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3 ease-out;
  transition: height .3 ease-out;
}

.accordion__content p {
  width: 100%;
  padding: 2rem;
}

.accordion__toggle__arrow.active {
  color: var(--red);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.subscribe {
  background: var(--purple);
}

.subscribe .section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .section__inner > p {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.subscribe .section__inner > h3 {
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
  margin-top: 2rem;
}

@media (min-width: 960px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__form .btn {
  margin-top: 1rem;
}

@media (min-width: 960px) {
  .subscribe__form .btn {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.subscribe__input {
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: 2px solid var(--red);
}

.subscribe__input__error {
  display: none;
}

.footer {
  background: var(--darkgrey);
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .footer__social__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footer .footer__social__nav {
    margin-top: 0;
  }
}

.footer .footer__social__nav li {
  margin: 0 2rem 0 0;
}

@media (min-width: 768px) {
  .footer .footer__social__nav li {
    margin: 0 1rem;
  }
}

.footer .footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .footer .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
  }
}

.footer .footer__nav li {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .footer .footer__nav li {
    margin: 0 1.5rem;
  }
}

.footer .footer__nav a {
  color: white;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.footer .footer__nav a:hover, .footer .footer__nav a:focus {
  color: var(--red);
}

.footer .logo-link img {
  fill: white;
  color: white;
}

.footer__inner {
  max-width: 122rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */