@use './mixins.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;

}

:root {
  --purple: hsl(231, 69%, 60%);
  --red: hsl(0, 94%, 66%);
  --grey: hsl(229, 8%, 60%);
  --darkgrey: hsl(229, 31%, 21%);
}

html{
  font-size:  62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  color: var(--darkgrey);
}

.layout {
  flex: 1 1 auto;
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
}

.section {
  position:relative;
  display:block;
  width: 100%;
}

.section__inner {
  margin: 0 auto;
  max-width: 122rem;
  width: 100%;
  padding: 2.5rem 2rem ;

  @include respond(tablet) {
    padding: 5rem 2rem;
  }
}
.nav {
  max-width: 122rem;
  width: 100%;
  padding: 3rem 2rem;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;

  @include respond(tablet) {
     padding: 6rem 2rem;

  }
}

.mobile-close-trigger {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;

  @include respond(tablet) {
    display: none;
  }
}
.mobile-close-btn {
  background: none;
}
.mobile-nav-trigger {
  display: block;
  background: none;
  padding: 0 2rem;

  &:active, &:focus {
    cursor:pointer;
  }
  @include respond(tablet) {
    display: none;
  }
}
.nav-list {
  display:none;
  transition: all 0.3s ease-out;
  &.active {
    position:absolute;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    list-style:none;
    height: 100%;
    background: var(--darkgrey);
    color: white;
    z-index: 9;
    max-width: 50rem;
    width: 100%;

    @include respond(tablet) {
      display:none;
    }
  }

  @include respond(tablet) {
    display:flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
  }

}
.nav-list-item {
  margin: 0 2rem;

  .active & {
    padding: 2rem 0 ;
  }

  &:last-child {
    margin-left: 6rem;
    .active & {
      margin-left: 0;
      padding-left: 2rem;
    }
  }

  &.btn--red {
    text-transform: uppercase;

    .active & {
      margin: 0;
    }
  }

 }
.nav-list-item__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darkgrey);
  font-size: 1.4rem;
  transition: color 0.3s ease-out;
  transform: translateX(100%);
  transition: transform 0.3 ease-out;

  &:hover, &:focus {
    color: var(--red);
  }

  .active & {
    color: white;
    font-size: 2rem;
    transform: translateX(0%);
  }

}
.btn {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.5rem;
  border-radius: .4rem;
  text-decoration: none;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
              0 4px 4px rgba(0,0,0,0.15),
              0 8px 8px rgba(0,0,0,0.15);

  &:hover, &:focus {
    cursor:pointer;
      box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
  }
}
.btn--red {
  color: white;
  background: var(--red);
  border:1px solid var(--red);
  &:hover, &:focus {
    background: white;
    color:var(--red);
  }
}
.btn--purple {
  color: white;
  background: var(--purple);
  border: 1px solid var(--purple);

  &:hover, &:focus {
    background: white;
    color: var(--purple);
  }
}

.hero .section__inner {
  display:flex;
  flex-direction: column-reverse;

  @include respond(tablet) {
    flex-direction: row;
    align-items: center;
  }
}
.hero__content {
  h2 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--darkgrey);
  }
  p{
    font-weight: 400;
    color: var(--grey);
    margin-top: 3rem;
    line-height: 1.5;
  }

  .intro__actions {
    display:flex;
    margin-top: 2rem;
    flex-direction: column;

    @include respond(tablet){
    align-items: center;
      flex-direction: row;
    }
    .btn {
      margin-top: 1rem;
      @include respond(tablet){
        margin-right: 2rem;
      }
    }
  }
}

.hero-shape{
  background: var(--purple);
  position:absolute;
  z-index:-2;
  top: 20%;
  right: -30%;
  width: 70%;
  height: 30rem;
  border-radius: 20rem;

  @include respond(mobile) {

    top: 35%;
    right: -30%;
    width: 70%;
    height: 35rem;
  }
}

.features {
  text-align: center;

  > h3 {
    font-size: 3rem;
  }
}

.features__heading {
  font-size: 3rem;
}

.features__blurb{
  color: var(--grey);
  margin: 2rem auto 0 ;

  @include respond(tablet) {
    max-width: 40%;
  }

}

.tabs__controls {
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

.tab__panel__inner{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  @include respond(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
  }
}

.tab__panel__inner__summary {
  text-align: left;

  @include respond(tablet) {
    margin-left: 3rem;
  }

  h3 {
    font-size: 3rem;
  }
  p {
    margin: 0;
    font-size: 1.7rem;
    color: var(--grey);
  }
  .btn {
    margin-top: 2rem;
  }
}

.tab-pane {
  display:none;

  &.active {
    display: block;
  }
}

/* TAB STYLES */
.tabs {
  // width: 45%;
  // max-width: 50rem;
}
.nav-tab{
  display: flex;
  flex-direction: column;
  list-style: none;
  a {
    text-decoration: none;
    color: var(--purple);
  }
  @include respond(tablet) {
    flex-direction: row;
  justify-content: center;
  align-items: center;

  }
}

.tabs .nav-tab li {
  padding: 2rem 1.5rem;
  border-bottom: .5px solid var(--grey);
  margin-bottom: 3rem;
  position:relative;


}

.tabs .tab-content {
  font-size: 1.3rem;
  line-height: 1.6;
  display:flex;
  justify-content: center;
}
.tabs .tab-content .tab-pane {
  display: none; /* inactive hidden */
}

.tabs .tab-content .tab-pane.active {
  display: block
}
.tab-pane {
  display:flex;

}
.tab__panel__inner {
  max-width: 80%;
  width: 100%;
}

.panels {
  list-style:none;
  display:flex;
  flex-direction: column;

  @include respond(tablet){
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
  }
  margin-top: 3rem;
}

.download {

  .section__inner {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .section-heading, .section-blurb {
    text-align: center;
  }

  .section-blurb {
    width: 100%;
    @include respond(tablet) {
      max-width: 40%;

    }
    color: var(--grey);
    margin-top: 3rem;
  }
}

.panel__item {
  display:flex;
  flex-direction: column;
  align-items: center;
box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.1);
  border-radius: 1.5rem;
  margin: 0 2rem;
  padding: 3rem;
  flex: 1 1 28rem;
  flex-basis: 28rem;
  max-width: 28rem;
  width: 100%;

  &:nth-child(2) {
    margin-top: 3rem;
  }

  &:nth-child(3) {
    margin-top: 6rem;
  }

  h4 {
    margin-top: 2rem;
  }
  p {
    font-size: 1.4rem;
    color: var(--grey);
  }
  img:not(.icon) {
    margin-top: 2rem;
  }
  .btn{
    margin-top: 2rem;
  }
}

.faqs {
  .section__inner {
    display:flex;
    align-items: center;
    flex-direction: column;

    & > p {
      font-size: 1.6rem;
      color: var(--grey);
      text-align: center;
      width: 100%;
      margin-top: 3rem;
      @include respond(tablet) {
      max-width: 40%;

      }
    }
    .btn {
      margin-top: 3rem;
    }
  }

}

.accordion__container {
  max-width: 60rem;
  width: 100%;
  margin-top: 4rem;
}
.accordion__toggle {
  background: none;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;

  text-align: left;
  font-size: 1.7rem;
  padding: 2rem;
  border-top: 1px solid var(--grey);
  transition: color .3s ease-out;

  &:focus, &:hover, &:active {
    color: var(--red);
    cursor:pointer;
    fill: var(--red);
  }
}

.accordion__content {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .3 ease-out;
  p {
    width: 100%;
      padding:2rem;

  }
}

.accordion__toggle__arrow.active {
  color: var(--red);
  transform: rotate(180deg);
}

.accordion__content {
}

.subscribe {
  background: var(--purple);
  .section__inner {
    display:flex;
    flex-direction: column;
    align-items: center;

    > p {
      text-transform: uppercase;
      color: white;
      font-size: 1.5rem;
      letter-spacing: 3px;
    }

    >h3 {
      margin-top: 2rem;
      font-size: 3rem;
      color: white;
      text-align: center;
    }
  }
}

.subscribe__form {
  display:flex;
  flex-direction: column;
  padding: 0 2rem;
  @include respond(tablet){
    flex-direction: row;
  }
  margin-top: 2rem;
  .btn {
    margin-top: 1rem;
    @include respond(tablet) {
    margin-left: 1rem;
    margin-top: 0;

    }
  }
}
.subscribe__input {
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: 2px solid var(--red);
}
.subscribe__input__error {
  display: none;
}

.footer {
  background: var(--darkgrey);
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
  .footer__social__nav {
    list-style: none;
    display:flex;
    align-items: center;
    margin-top: 1rem;
    @include respond(mobile) {
      margin-top: 0;
    }
    li {
      margin: 0 2rem 0 0;
      @include respond(mobile) {
        margin: 0 1rem;
      }
    }
  }

  .footer__nav {
    list-style:none;
    display:flex;
    flex-direction: column;
    font-size: 1.4rem;
    @include respond(mobile) {
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;

    }

    li {
      margin: 1rem 0;
      @include respond(mobile) {
      margin: 0 1.5rem;
      }
    }
    a {
      color: white;
      transition: color 0.3s ease-out;
    }

    a:hover, a:focus {
      color: var(--red);
    }
  }

  .logo-link img {
    fill: white;
    color: white;
  }
}

.footer__inner {
  max-width: 122rem;
  width: 100%;
  margin: 0 auto;
  display:flex;
  padding: 3rem 2rem;
  flex-direction: column;
  @include respond(mobile) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}