@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
.sr-only {
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: none;
}

:root {
  --red: hsl(12, 88%, 59%);
  --blue: hsl(228, 39%, 23%);
  --grayblue: hsl(227, 12%, 61%);
  --darkblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgrey: hsl(0, 0%, 98%);
  --lite: 400;
  --regular: 500;
  --heavy: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.6rem;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Layout classes */
.l-page-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.l-page-layout__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.l-component__content {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
}

.l-page-layout__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 0;
  display: block;
}

.l-page-layout__footer {
  margin-top: auto;
}

/* Utility classes */
.e-component {
  display: block;
  position: relative;
  padding: 6rem 0;
}

.e-component + .e-component {
  padding: 0 0 6rem;
}

.e-component__content {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
}

.e-component--fullwidth .e-component__content {
  max-width: 100%;
  width: 100%;
}

.e-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  min-width: 15rem;
  background: var(--red);
  font-size: 1.7rem;
  color: white;
  -webkit-box-shadow: 0px 8px 18px -6px rgba(242, 95, 58, 0.5);
          box-shadow: 0px 8px 18px -6px rgba(242, 95, 58, 0.5);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.3s ease-out, transform 0.1s ease-out;
  transition: opacity 0.3s ease-out, transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.e-btn:hover, .e-btn:focus {
  opacity: 0.75;
}

.e-btn:active {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.e-btn--white {
  background: white;
  color: var(--red);
  font-weight: var(--heavy);
  -webkit-box-shadow: 0px 8px 18px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 18px -6px rgba(0, 0, 0, 0.5);
}

/* component classes */
.h-header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.h-header__main__logo {
  margin-top: 1rem;
}

.h-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-header__nav__list__item__link {
  color: inherit;
  padding: 0 1rem;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.h-header__nav__list__item__link:hover, .h-header__nav__list__item__link:focus {
  cursor: pointer;
  color: var(--grayblue);
}

.c-heading .e-component__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-heading__wrapper {
  max-width: 40%;
  width: 100%;
}

.c-heading__text {
  font-size: 6rem;
  font-weight: var(--heavy);
  color: var(--blue);
  line-height: 1.15;
}

.c-heading__byline {
  color: var(--grayblue);
  margin-top: 3rem;
}

.c-heading__btn {
  margin-top: 3rem;
}

.c-heading__imagewrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-summary .e-component__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-summary__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.c-summary__heading {
  font-size: 3.5rem;
  color: var(--blue);
}

.c-summary__byline {
  margin-top: 3rem;
  color: var(--grayblue);
  line-height: 1.8;
  max-width: 75%;
}

.c-summary__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem 0 0;
}

.c-summary__list-item:first-child {
  padding: 0;
}

.c-summary__list-item__number {
  background: var(--red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 1rem 1.4rem;
  max-width: 7rem;
  min-width: 7rem;
  border-radius: 3rem;
  margin: 0 1rem;
}

.c-summary__list-item__text {
  margin: 1rem 1rem 0;
}

.c-summary__list-item__text__heading {
  color: var(--blue);
}

.c-summary__list-item__text__blurb {
  color: var(--grayblue);
  line-height: 1.8;
  margin-top: 2rem;
}

.c-reviews .e-component__content {
  padding: 0;
}

.c-reviews__heading {
  margin: 0 auto 3rem;
  text-align: center;
  font-size: 3rem;
  color: var(--blue);
}

.c-reviews__list {
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: visible;
  padding-top: 9rem;
  margin: 0 -0.5rem;
}

.c-reviews__list__item {
  display: inline-block;
  width: 50rem;
  position: relative;
  z-index: 0;
  margin: 0 1rem;
}

.c-reviews__list__item__image {
  position: absolute !important;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-reviews__list__item__wrapper {
  background: var(--lightgrey);
  padding: 9rem 4rem 4rem;
  text-align: center;
}

.c-reviews__list__item__name {
  color: var(--blue);
  font-size: 2rem;
  text-align: center;
}

.c-reviews__list__item__text {
  white-space: normal;
  color: var(--grayblue);
  margin-top: 3rem;
  line-height: 1.8;
}

.c-reviews__btn {
  margin: 5rem auto 3rem;
  display: block;
}

.c-banner {
  background: var(--red);
  padding: 0 !important;
}

.c-banner .e-component__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.c-banner__text {
  color: white;
  font-size: 4rem;
  font-weight: var(--regular);
  max-width: 40%;
}

.f-footer {
  background: var(--darkblue);
  padding: 5rem 0;
}

.f-footer .e-component__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}

.f-footer__col:first-child, .f-footer__col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-footer__col:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.f-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -.4rem;
}

.f-footer__socials__item {
  padding: 0 .8rem;
}

.f-footer__col__nav__list-item {
  padding: .3rem 0;
}

.f-footer__col__nav__list-item__link {
  color: white;
  display: block;
  font-size: 1.3rem;
  line-height: 1.8;
}

.f-footer__contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.f-footer__contact__input-wrapper {
  background: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-footer__contact__btn {
  min-width: 0;
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */