@import "abstracts/mixins.scss";
@import "abstracts/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  box-shadow: none;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: none;
}

:root{
  --red: hsl(12, 88%, 59%);
  --blue: hsl(228, 39%, 23%);
  --grayblue: hsl(227, 12%, 61%);
  --darkblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgrey: hsl(0, 0%, 98%);
  --lite: 400;
  --regular: 500;
  --heavy: 700;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.6rem;
  color: inherit;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}

/* Layout classes */
.l-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position:relative;
  overflow-x: hidden;
}
.l-page-layout__header {
  flex: 0 0 auto;
}
.l-component__content {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;
}

.l-page-layout__content {
  flex: 1 1 auto;
  position:relative;
  z-index: 0;
  display:block;
}

.l-page-layout__footer {
  margin-top: auto;
}

/* Utility classes */

.e-component {
  display:block;
  position:relative;

  padding: 6rem 0;

  // remove consecutive padding between components
  & + & {
    padding: 0 0 6rem;
  }
}

.e-component__content {
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 128rem;
  margin-right: auto;
  margin-left: auto;

  .e-component--fullwidth & {
    max-width: 100%;
    width: 100%;
  }
}

.e-component__content { }
.e-component--contentwidth { }
.e-component--fullwidth { }
.e-btn {
  display:inline-flex;
  border-radius: 3rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  justify-content: center;
  cursor:pointer;
  min-width: 15rem;
  background: var(--red);
  font-size: 1.7rem;
  color: white;
  box-shadow: 0px 8px 18px -6px rgba(242,95,58,0.5);
  opacity: 1;
  transition: opacity 0.3s ease-out, transform 0.1s ease-out;
  &:hover, &:focus {
    opacity: 0.75;
  }

  &:active {
    transform: translateY(.25rem);
  }
 }

.e-btn--white {
  background: white;
  color: var(--red);
  font-weight: var(--heavy);
  box-shadow: 0px 8px 18px -6px rgba(0,0,0,0.5);

 }
.e-btn--orange { }

/* component classes */
.h-header { }
.h-header__wrapper { }
.h-header__main {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
 }
.h-header__main__logo {
  margin-top: 1rem;
 }
.h-header__nav {
  display:flex;
  align-items: center;
 }
.h-header__nav__list {
  display:flex;
}
.h-header__nav__list__item { }
.h-header__nav__list__item__link {
  color: inherit;
  padding: 0 1rem;
  transition: color 0.3s ease-out;

  &:hover, &:focus {
    cursor:pointer;
    color: var(--grayblue);
  }
}
.h-header__nav__btn { }

.c-heading {
  .e-component__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
}
.c-heading__wrapper {
  max-width: 40%;
  width: 100%;
}

.c-heading__text {
  font-size: 6rem;
  font-weight: var(--heavy);
  color: var(--blue);
  line-height: 1.15;
 }
.c-heading__byline {
  color: var(--grayblue);
  margin-top: 3rem;

 }
.c-heading__btn {
      margin-top: 3rem;

}
.c-heading__imagewrapper {
  img{
    display:block;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
}

.c-summary {
  .e-component__content {
    display:flex;
    justify-content: space-between;
  }
}
.c-summary__col {
  flex: 0 0 45%;
 }
.c-summary__heading {
  font-size: 3.5rem;
  color: var(--blue);
 }
.c-summary__byline {
  margin-top: 3rem;
  color: var(--grayblue);
  line-height: 1.8;
  max-width: 75%;
 }
.c-summary__list { }
.c-summary__list-item {
  display:flex;
  align-items: flex-start;
  padding: 5rem 0 0;

  &:first-child {
    padding: 0;
  }
 }
.c-summary__list-item__number {
  background: var(--red);
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem 1.4rem;
  max-width:7rem;
  min-width: 7rem;
  border-radius: 3rem;
  margin: 0 1rem;
}
.c-summary__list-item__text {
  margin: 1rem 1rem 0;
}
.c-summary__list-item__text__heading {
  color: var(--blue);
 }
.c-summary__list-item__text__blurb {
  color: var(--grayblue);
  line-height: 1.8;
  margin-top: 2rem;
 }

.c-reviews {
  .e-component__content {
    padding: 0;
  }
 }

 .c-reviews__heading {
   margin: 0 auto 3rem;
   text-align: center;
   font-size: 3rem;
   color: var(--blue);
 }
.c-reviews__list {
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: visible;
    padding-top: 9rem;
    margin: 0 -0.5rem;
 }

.c-reviews__list__item {
  display:inline-block;
  width: 50rem;
  position:relative;
  z-index: 0;
  margin: 0 1rem;
}

.c-reviews__list__item__image {
  position:absolute !important;
  left: 50%;
  top:0;
  transform: translate(-50%, -50%);
 }

 .c-reviews__list__item__wrapper {

  background: var(--lightgrey);
  padding: 9rem 4rem 4rem;
  text-align:center;
}

.c-reviews__list__item__name {
  color: var(--blue);
  font-size: 2rem;
  text-align: center;
 }
.c-reviews__list__item__text {
  white-space: normal;
  color: var(--grayblue);
  margin-top: 3rem;
  line-height: 1.8;
}
.c-reviews__btn {
  margin: 5rem auto 3rem;
  display:block;
 }

.c-banner {
  background: var(--red);
  padding: 0 !important; // not ideal

  .e-component__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.c-banner__text {
  color: white;
  font-size: 4rem;
  font-weight: var(--regular);
  max-width: 40%;
 }
.c-banner__btn { }

.f-footer {
  background: var(--darkblue);
  padding: 5rem 0;

  .e-component__content{
    display:flex;
    justify-content: space-between;
  }
}
.f-footer__col {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;

  &:first-child,
  &:last-child {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:last-child {
    align-items: flex-end;
  }
}
.f-footer__logo-link { }
.f-footer__socials {
  display:flex;
  align-items: center;
  margin: 0 -.4rem;
}
.f-footer__socials__item {
  padding: 0 .8rem;
}
.f-footer__socials__item-link { }
.f-footer__col__nav { }
.f-footer__col__nav__list { }
.f-footer__col__nav__list-item {
  padding: .3rem 0;
 }
.f-footer__col__nav__list-item__link {
  color: white;
  display:block;
  font-size: 1.3rem;
  line-height: 1.8;
}
.f-footer__contact__wrapper { display:flex; justify-content: flex-end;}
.f-footer__contact__input-wrapper {
  background: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.f-footer__contact__input { }
.f-footer__contact__btn {
  min-width: 0;
  margin-left: 1rem;
}
.f-footer__copyright { }

